html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: #BFFFFE;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.contents-title {
  padding: 8px 10px;
  font-size: 30px;
  text-align: center;
}

.display-none {
  display: none;
}

.border-radius-40 {
  border-radius: 40px !important;
}

.padding-for-header {
  padding-top: 60px;
}

.profile-image {
  width: 250px;
  margin: 40px 20px;
  border: 1px solid gray;
}

@media screen and (max-width: 768px) {
  .profile-image {
    width: 40%;
    margin: 40px 10px;
  }
}

.skills-item {
  flex-basis: 23%;
  max-width: 23%;
}

@media screen and (max-width: 1400px) {
  .skills-item {
    flex-basis: 30%;
    max-width: 30%;
  }
}

@media screen and (max-width: 1100px) {
  .skills-item {
    flex-basis: 45%;
    max-width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .skills-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}

.links-icon {
  text-decoration: none;
  font-size: 70px;
  text-align: center;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.links-icon img {
  margin: auto;
  height: 70px;
}

@media screen and (max-width: 768px) {
  .links-icon {
    margin: 15px;
    width: 20%;
  }
}

@media screen and (max-width: 420px) {
  .links-icon {
    font-size: 50px;
    margin: 10px;
    width: 20%;
  }
  .links-icon img {
    height: 50px;
  }
}

.links-icon:hover {
  opacity: 0.5;
}

.github-icon {
  color: #252a2e;
}

.github-icon:hover {
  color: #252a2e;
}

.twitter-icon {
  color: #55acee;
}

.twitter-icon:hover {
  color: #55acee;
}

.instagram-icon {
  color: #E1306C;
}

.instagram-icon:hover {
  color: #E1306C;
}

.youtube-icon {
  color: #ff0000;
}

.youtube-icon:hover {
  color: #ff0000;
}

footer {
  width: 100%;
  background-color: #dddddd;
  padding: 0px;
  margin-top: auto;
}

footer .footer-inner {
  max-width: 1000px;
  margin: auto;
}

footer .footer-container {
  margin: 0 20px;
  display: flex;
  flex-flow: column;
}

footer .footer-container p {
  margin: 10px 20px;
  margin-left: auto;
}

footer .footer-container .sns-links {
  margin-left: auto;
  display: flex;
}

footer .footer-container .sns-links .github a {
  text-decoration: none;
  color: #252a2e;
  font-size: 40px;
}

footer .footer-container .sns-links .twitter a {
  text-decoration: none;
  color: #55acee;
  font-size: 40px;
}

.fa-bootstrap::before {
  content: "\f836";
}
