@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 700px;
}

@media screen and (max-width: 420px) {
  body {
    min-width: inherit;
  }
}

header {
  width: 100%;
}

header h1 {
  padding: 30px;
  margin: auto;
}

header a {
  text-decoration: none;
  font-size: medium;
  color: #000;
}

header .navbar {
  background-color: #BFFFFE;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
  font-weight: bold;
}

header .navbar-toggler {
  border-color: #aaa;
}

header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

section {
  width: 600px;
}

@media screen and (max-width: 420px) {
  section {
    width: inherit;
  }
}

.contents .content {
  margin-top: 50px;
  text-align: center;
}

.contents h2 {
  padding-bottom: 8px;
  font-size: 30px;
  border-bottom: dashed 3px black;
  margin: 0 15px;
  text-align: center;
}

.contents .extend {
  margin: 0 calc(50% - 50vw);
  width: 80vw;
}

@media screen and (max-width: 420px) {
  .contents .extend {
    width: 100vw;
  }
}

.contents .profile img {
  width: 250px;
  margin: 40px 20px;
  border-radius: 15%;
}

@media screen and (max-width: 420px) {
  .contents .profile img {
    width: 40%;
    margin: 40px 10px;
  }
}

.contents .skills {
  text-align: center;
  position: relative;
}

.contents .skills-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.contents .skills h3 {
  padding: 20px 40px;
  margin: 30px auto;
  background-color: #bbb;
  border-radius: 20px;
  width: 500px;
}

@media screen and (max-width: 420px) {
  .contents .skills h3 {
    width: 80vw;
  }
}

.contents .skills .ul-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto;
}

.contents .skills ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contents .skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 20px 10px;
  background: #eee;
  -webkit-box-shadow: 0px 0px 5px silver;
          box-shadow: 0px 0px 5px silver;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 420px) {
  .contents .skills ul li {
    width: 95vw;
  }
}

.contents .skills ul li .list-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  background-color: #ccc;
  padding: 10px;
}

@media screen and (max-width: 420px) {
  .contents .skills ul li .list-head {
    font-size: 25px;
  }
}

.contents .skills ul li .list-head i {
  width: 0;
  font-size: 40px;
}

.contents .skills ul li .list-head h4 {
  margin: auto;
}

.contents .skills ul li .list-body {
  padding: 20px;
  height: 100px;
  text-align: left;
}

.contents .links {
  text-align: center;
}

.contents .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 30px;
}

@media screen and (max-width: 420px) {
  .contents .link {
    margin: 40px 20px;
  }
}

.contents .link p {
  margin: 20px 20px;
}

.contents .link img {
  width: 70px;
}

@media screen and (max-width: 420px) {
  .contents .link img {
    width: 50px;
  }
}

.contents .link .github a {
  text-decoration: none;
  color: #252a2e;
  font-size: 70px;
}

@media screen and (max-width: 420px) {
  .contents .link .github a {
    font-size: 50px;
  }
}

.contents .link .twitter a {
  text-decoration: none;
  color: #55acee;
  font-size: 70px;
}

@media screen and (max-width: 420px) {
  .contents .link .twitter a {
    font-size: 50px;
  }
}

.contents .link .insta {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;
  border-radius: 18px;
}

@media screen and (max-width: 420px) {
  .contents .link .insta {
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }
}

.contents .link .insta:before {
  content: '';
  position: absolute;
  top: 23px;
  left: -18px;
  width: 60px;
  height: 60px;
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}

.contents .link .fa-instagram {
  color: #FFF;
  position: relative;
  z-index: 2;
  font-size: 60px;
  line-height: 70px;
}

@media screen and (max-width: 420px) {
  .contents .link .fa-instagram {
    font-size: 40px;
    line-height: 50px;
  }
}

.contents .link .youtube a {
  text-decoration: none;
  color: #ff0000;
  font-size: 70px;
}

@media screen and (max-width: 420px) {
  .contents .link .youtube a {
    font-size: 50px;
  }
}

.footer-margin {
  margin-top: 50px;
}

footer {
  width: 100%;
  background-color: #dddddd;
  padding: 0px;
  margin-top: auto;
}

footer .footer-inner {
  max-width: 1000px;
  margin: auto;
}

footer .footer-container {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

footer .footer-container p {
  margin: 10px 20px;
  margin-left: auto;
}

footer .footer-container .sns-links {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-container .sns-links .github a {
  text-decoration: none;
  color: #252a2e;
  font-size: 40px;
}

footer .footer-container .sns-links .twitter a {
  text-decoration: none;
  color: #55acee;
  font-size: 40px;
}

.ruby::after {
  content: '';
  /*何も入れない*/
  display: inline-block;
  /*忘れずに！*/
  width: 33px;
  /*画像の幅*/
  height: 33px;
  /*画像の高さ*/
  background-image: url(../image/ruby.png);
  background-size: contain;
  vertical-align: middle;
  position: relative;
  top: -4px;
}
/*# sourceMappingURL=index.css.map */