$breakpoints: ('sm': 'screen and (max-width: 420px)',
    'md': 'screen and (max-width: 768px)',
    'lg': 'screen and (max-width: 1000px)',
    'xl': 'screen and (max-width: 1200px)',
) !default;

$link-font-size: 70px;
$link-font-size-mobile: 50px;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    min-width: 700px;

    @include mq(sm) {
        min-width: inherit;
    }
}

header {
    background-color: #BFFFFE;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);

    h1 {
        padding: 30px;
        margin: auto;
    }

    a {
        text-decoration: none;
        font-size: medium;
        color: #000;
    }

    .navbar-toggler {
        border-color: #aaa;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }

}

section {
    width: 600px;

    @include mq(sm) {
        width: inherit;
    }
}

.contents {
    .content {
        margin-top: 50px;
        text-align: center;
    }

    h2 {
        padding-bottom: 8px;
        font-size: 30px;
        border-bottom: dashed 3px black;
        margin: 0 15px;
        text-align: center;
    }

    .extend {
        margin: 0 calc(50% - 50vw);
        width: 80vw;

        @include mq(sm) {
            width: 100vw;
        }
    }

    .profile img {
        width: 250px;
        margin: 40px 20px;
        border-radius: 15%;

        @include mq(sm) {
            width: 40%;
            margin: 40px 10px;
        }
    }

    .skills {

        text-align: center;
        position: relative;

        &-inner {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-flow: column;

        }


        h3 {
            padding: 20px 40px;
            margin: 30px auto;
            background-color: #bbb;
            border-radius: 20px;
            width: 500px;

            @include mq(sm) {
                width: 80vw;
            }
        }

        .ul-inner {
            display: flex;
            text-align: center;
            margin: auto;
        }

        ul {
            width: max-content;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            text-align: center;
            justify-content: center;

            // flex-basis: 0px;
            li {
                display: flex;
                width: 300px;

                @include mq(sm) {
                    width: 95vw;
                }

                align-items: center;
                justify-content: center;
                text-align: center;
                flex-flow: column;
                margin: 20px 10px;
                background: #eee;
                box-shadow: 0px 0px 5px silver;
                align-items: stretch;

                &:last-child {}

                .list-head {
                    display: flex;
                    font-size: 30px;

                    @include mq(sm) {
                        font-size: 25px;
                    }

                    background-color: #ccc;
                    padding:10px;

                    i {
                        width: 0;
                        font-size: 40px;
                    }

                    h4 {
                        margin: auto;
                    }
                }

                .list-body {
                    padding: 20px;
                    height: 100px;
                    text-align: left;
                }
            }
        }
    }

    .links {
        text-align: center;

    }

    .link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 40px 30px;

        @include mq(sm) {
            margin: 40px 20px;
        }

        p {
            margin: 20px 20px;
        }

        img {
            width: $link-font-size;

            @include mq(sm) {
                width: $link-font-size-mobile;
            }
        }

        .github a {
            text-decoration: none;
            color: #252a2e;
            font-size: $link-font-size;

            @include mq(sm) {
                font-size: $link-font-size-mobile;
            }
        }

        .twitter a {
            text-decoration: none;
            color: #55acee;
            font-size: $link-font-size;

            @include mq(sm) {
                font-size: $link-font-size-mobile;
            }
        }

        .insta {
            position: relative;
            display: inline-block;
            width: $link-font-size;
            height: $link-font-size;
            background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
            background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
            overflow: hidden;
            border-radius: 18px;

            @include mq(sm) {
                width: $link-font-size-mobile;
                height: $link-font-size-mobile;
                border-radius: 15px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 23px;
                left: -18px;
                width: 60px;
                height: 60px;
                background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
                background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
            }
        }

        .fa-instagram {
            color: #FFF;
            position: relative;
            z-index: 2;
            font-size: $link-font-size - 10;
            line-height: $link-font-size;

            @include mq(sm) {
                font-size: $link-font-size-mobile - 10;
                line-height: $link-font-size-mobile;
            }
        }

        .youtube a {
            text-decoration: none;
            color: #ff0000;
            font-size: $link-font-size;

            @include mq(sm) {
                font-size: $link-font-size-mobile;
            }
        }
    }
}

.footer-margin {
    margin-top: 50px;
}

footer {
    width: 100%;
    background-color: #dddddd;
    padding: 0px;
    margin-top: auto;

    .footer {
        &-inner {
            max-width: 1000px;

            margin: auto;
        }

        &-container {
            margin: 20px;
            display: flex;
            flex-flow: column;

            p {
                margin: 10px 20px;
                margin-left: auto;
            }

            .sns-links {
                margin-left: auto;
                display: flex;

                .github a {
                    text-decoration: none;
                    color: #252a2e;
                    font-size: 40px;
                }

                .twitter a {
                    text-decoration: none;
                    color: #55acee;
                    font-size: 40px;
                }
            }
        }
    }
}

.ruby::after {
    content: '';
    /*何も入れない*/
    display: inline-block;
    /*忘れずに！*/
    width: 33px;
    /*画像の幅*/
    height: 33px;
    /*画像の高さ*/
    background-image: url(../image/ruby.png);
    background-size: contain;
    vertical-align: middle;
    position: relative;
    top: -4px;
}