$breakpoints: ('sm': 'screen and (max-width: 420px)',
    'md': 'screen and (max-width: 768px)',
    'lg': 'screen and (max-width: 1100px)',
    'xl': 'screen and (max-width: 1400px)',
) !default;

$link-font-size: 70px;
$link-font-size-mobile: 50px;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #BFFFFE;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.contents-title {
    padding: 8px 10px;
    font-size: 30px;
    text-align: center;
}

.display-none {
    display: none;
}

.border-radius-40{
    border-radius: 40px !important;
}

.padding-for-header {
    padding-top: 60px;
}

.profile-image {
    width: 250px;
    margin: 40px 20px;
    border: 1px solid gray;

    @include mq(md) {
        width: 40%;
        margin: 40px 10px;
    }
}

.skills-item {
    flex-basis: 23%;
    max-width: 23%;

    @include mq(xl) {
        flex-basis: 30%;
        max-width: 30%;
    }

    @include mq(lg) {
        flex-basis: 45%;
        max-width: 45%;
    }

    @include mq(md) {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.links-icon{
    text-decoration: none;
    font-size: $link-font-size;
    text-align: center;
    margin: 0 20px;
    display: flex;
    align-items: center;

    img{
        margin: auto;
        height: $link-font-size;
    }

    @include mq(md) {
        margin: 15px;
        width: 20%;
    }

    @include mq(sm) {
        font-size: $link-font-size-mobile;
        margin: 10px;
        width: 20%;

        img{
            height: $link-font-size-mobile;
        }
    }

    &:hover{
        opacity: 0.5;
    }
}

.github-icon {
    color: #252a2e;
    &:hover{
        color: #252a2e;
    }
}

.twitter-icon{
    color: #55acee;
    &:hover{
        color: #55acee;;
    }
}

.instagram-icon {
    color: #E1306C;
    &:hover{
        color: #E1306C;
    }
}

.youtube-icon{
    color: #ff0000;
    &:hover{
        color: #ff0000;
    }
}

footer {
    width: 100%;
    background-color: #dddddd;
    padding: 0px;
    margin-top: auto;

    .footer {
        &-inner {
            max-width: 1000px;

            margin: auto;
        }

        &-container {
            margin: 0 20px;
            display: flex;
            flex-flow: column;

            p {
                margin: 10px 20px;
                margin-left: auto;
            }

            .sns-links {
                margin-left: auto;
                display: flex;

                .github a {
                    text-decoration: none;
                    color: #252a2e;
                    font-size: 40px;
                }

                .twitter a {
                    text-decoration: none;
                    color: #55acee;
                    font-size: 40px;
                }
            }
        }
    }
}

.fa-bootstrap::before{
    content: "\f836";
}