body{
  height: 10rem;
  text-align: center;
  align-items: center;
}

.header {
  background-color: #00bfff; /*Deepskyblue*/
  color: #fff;
  padding: 20px;
  margin-bottom: 50px;
  border: solid 4px black;
}

.contents h1 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
  margin-top: 50px;
}

.profile img{
  width: 120px;
  margin:20px;
}

.links{
  text-align: center;
  align-items: center;
}

.links img{
  vertical-align: middle;
  width: 60px;
  margin:10px;
}
